<div class="container" id="<%="article_#{article.id}"%>">
  <h4>
    <strong>Title:</strong>
    <%= article.title %>
  </h4>

  <p>
    <strong>Body:</strong>
    <%= article.try(:dig, :highlight) ? article.dig(:highlight, 'body', 0)&.html_safe : article.body %>
  </p>
</div>
