<h1>Editing article</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article, class: 'mt-3 btn btn-secondary' %> |
  <%= link_to "Back to articles", articles_path, class: 'mt-3 btn btn-primary' %>
</div>
